<a href="https://colab.research.google.com/github/SaratChandra24/Python-Learning/blob/main/Python_Problem_Solving_1_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Trying return vs print

In [ ]:
def checkforthou(x,y) :
    if x*y < 1000 :
        return x*y
    else :
        return x+y

print(checkforthou(10,10))
print(checkforthou(10,100))

100
110

Sum of previous numbers

In [ ]:
def sumofprev(number) :
  y=0
  for x in range(number):
      y = x-1
      print("Current number", x, "Previous number", y, "Sum", x+y)

sumofprev(10)

Current number 0 Previous number -1 Sum -1
Current number 1 Previous number 0 Sum 1
Current number 2 Previous number 1 Sum 3
Current number 3 Previous number 2 Sum 5
Current number 4 Previous number 3 Sum 7
Current number 5 Previous number 4 Sum 9
Current number 6 Previous number 5 Sum 11
Current number 7 Previous number 6 Sum 13
Current number 8 Previous number 7 Sum 15
Current number 9 Previous number 8 Sum 17

 Printing even indices from a string

In [ ]:
def evenlist(estr):
  for x in range(0,len(estr),2):
      print(estr[x], end =" ")

evenlist("xander")

x n e

 Pattern printing

In [ ]:
def starpp(num):
  for x in range(num):
    for y in range(x+1):
      print("*", end = " ")
    print()

def starrp(num):
  for x in range(num,0,-1):
    for y in range(x):
      print(x, end = " ")
    print()

def smplpp(c):
  height = 5
  for row in range(1, height+ 1):
    print(" " * (height - row) +"*" * row)

def nlpp(k):
  rows = k
  middle_row = rows // 2 + 1
  decrement = 0
  for i in range(1, rows + 1):
    if i > middle_row:
      decrement += 2
    print("*" * (i - decrement))

starpp(5)
starrp(5)
nlpp(5)
smplpp(5)

*
* *
* * *
* * * *
* * * * *
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1
*
**
***
**
*
    *
   **
  ***
 ****
*****

Fibonacci Sequence

In [ ]:
def fib(l):
  x,y = 0,1
  for n in range(l):
    print(x, end=" ")
    s = x+y
    x,y = y,s

fib(10)

0 1 1 2 3 5 8 13 21 34

Factorial of a number

In [ ]:
def fact(n):
  prod = 1
  for x in range(1,n):
    prod = prod * x
  print(prod)

fact(6)

120

Prime numbers in a given range

In [ ]:
def primenumber(x,n):
  for z in range(x,n):
    if z>1:
      for i in range(2,z):
        if z%i == 0:
          break
      else:
          print(z, end=" ")

primenumber(25,50)

29 31 37 41 43 47

Playing with Numbers

In [ ]:
def revnum(n):
    reverse_num = 0
    while n > 0:
        reminder = n % 10
        reverse_num = (reverse_num * 10) + reminder
        n = n // 10
    print(reverse_num)

def digitrev(rn):
    d = 0
    while rn > 0:
        d = rn % 10
        rn = rn//10
        print(d, end =" ")


def palindrome(pnum):
  reverse_num = 0
  original_num = pnum
  while pnum> 0:
        reminder = pnum % 10
        reverse_num = (reverse_num * 10) + reminder
        pnum = pnum // 10

  if reverse_num == original_num:
      print("\n", original_num, "is a palindrome")
  else :
      print("\n", original_num, "is not a palindrome")

def countofnum(cnum):
  cnt = 0
  while cnum!= 0:
    cnum = cnum // 10
    cnt +=1
  print(cnt)

revnum(26031)
digitrev(26031)
palindrome(13831)
countofnum(13583)

13062
1 3 0 6 2
 13831 is a palindrome
5

Playing with Series

In [ ]:
def sumtoseries(l):
  s = 0
  for n in range(1,l+1):
    print(n, end="+")
    s += n
  print("\nSum is", s)

def sumtotwo(kn):
  # first number of sequence
  start = 2
  sum_seq = 0

# run loop n times
  for i in range(0, kn):
     print(start, end="+")
     sum_seq += start
      # calculate the next term
     start = start * 10 + 2
  print("\nSum of above series is:", sum_seq)


sumtoseries(15)
sumtotwo(6)

1+2+3+4+5+6+7+8+9+10+11+12+13+14+15+
Sum is 120
2+22+222+2222+22222+222222+
Sum of above series is: 246912

Trying out format specifiers

In [ ]:
def oct(k):
  print("Decimal number", k, "Octal number",'%o' %k)

oct(8)

Decimal number 8 Octal number 10

Playing with Pascals triangle

In [ ]:
def pascaltriangle(d):
  a= [[1 for x in range(d)]
      for y in range(d)]
  for n in range(d):
    for m in range(d-n-1):
      print(" ", end = "")
    for l in range(n+1):
      if l == 0 or l == n:
        a[n][l] == 1
        print(a[n][l], end = " ")
      else:
        a[n][l] = a[n-1][l-1]+a[n-1][l]
        print(format(a[n][l]), end = " ")
    print()

pascaltriangle(6)

     1
    1 1
   1 2 1
  1 3 3 1
 1 4 6 4 1
1 5 10 10 5 1

In [ ]:
def pascals_triangle(n):
  triangle = [[1] * (i + 1) for i in range(n)]
  for i in range(1,n):
    for j in range(1,i):
      triangle[i][j] = triangle[i - 1][j - 1] + triangle[i - 1][j]

  for d in range(n-1,-1,-1):
    print(" " * (n-d), end = " ")
    if d == n:
      #print(" ", end = " ")
      for c in range(d+1):
        print(triangle[d][c], end = " ")
    else:
      for c in range(d+1):
        print(triangle[d][c], end = " ")
    print()

pascals_triangle(7)

  1 6 15 20 15 6 1
   1 5 10 10 5 1
    1 4 6 4 1
     1 3 3 1
      1 2 1
       1 1
        1